
// Increase Container spacing to 1rem (16px)
.container {
  padding: 1rem;

  // Maximum viewable area @ 1360px - 1rem (16px) margins
  max-width: 1392px;
}

// Increase column padding to 1rem (16px)
// ~32px gutters to provide some additional space between columns
$col-padding: 1rem;

.row {
  margin-right: calc(#{$col-padding} * -1);
  margin-left: calc(#{$col-padding} * -1);
}

.col-12 {
  padding-right: $col-padding;
  padding-left: $col-padding;
}

// View Container
.container.view-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

// View Header
.view-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.75rem;

  .back-btn {
    margin-top: -0.25rem;
  }

  &.align-center {
    align-items: center;
  }

  &.block {
    display: block;
  }
}

.view-header__title {
  margin-bottom: 0;
}

@media (min-width: 1200px) and (min-height: 900px) {
  .view-header {
    .back-btn {
      margin-top: 0;
    }
  }
}